<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBanking">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting"></listener>
	
	</listeners>
    <test name="BankingApplication">
  	<parameter name="browser" value="edge"></parameter>
   <classes>
<!--      <class name="com.inetbanking.testCases.TC_LoginTest_001"/>-->
<!--    </classes>-->
<!--  </test> --><!-- Test --> 
<!--  <test name="BankingApplication1">-->
<!--  	<parameter name="browser" value="firefox"></parameter>-->
<!--     <classes>-->
      <class name="com.inetbanking.testCases.TC_LoginTest_001"/>
<!--      <class name="com.inetbanking.testCases.TC_LoginDDT_002"/>	-->
<!--      <class name="com.inetbanking.testCases.TC_AddCustomerTest_003"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
